body {
    background-color: darkgray;
    color: white;
}

#title {
    text-align: center;
}

#nav {
    text-align: center;
    border: 1px solid white;
    display: inline-block;
}

a {
    margin: 5px;
    text-decoration: none;
    color: aqua;
}

#app {
    text-align: center;
    margin: 5px;
}

#app > a {
    color: white;
    text-decoration: underline;
    font-size: 20px;
}